doctype html
html(lang="en", data-theme=`${theme}`)
  head
    title Express and Pug Example
    link(rel="stylesheet", href="/css/style.css")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

  body
    button#theme-toggle Switch theme
    div.container
      h1 Pug and Ejs test!
      div
        h2
          a(href="/users") users
      div
        h2
          a(href="/articles") articles
      if auth
        div
          h2
            a(href="/logout") Log Out
      if !auth
        div
          h2
            a(href="/login") Log In
        div
          h2
            a(href="/registration") Registration
    script(src="/js/script.js")