doctype html
html(lang="en", data-theme=`${theme}`)
  head
    title Express and Pug Example
    link(rel="stylesheet", href="/css/style.css")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

  body
    button#theme-toggle Switch theme
    div.container
      h1.heading Hello from PUG!
      h2.user-name= user.username
      img.user-photo(src='/img/trollface.jpg' width='500px')
      p.user-mail= user.email
      p.user-phone= user.phone
      a(href='/users') back
    script(src="/js/script.js")